.feynman__link {
  position: absolute;
  color: #2f80ed;
  text-decoration: none;
  right: 48px;
  top: 50%;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  transition: opacity 0.5s ease;
}

.feynman__link:hover{
  opacity: 50%;
}
