
.khan__buy-link {
  display: flex;
  align-self: flex-start;
  color: #2f80ed;
  text-decoration: none;
  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
  transition: opacity 0.5s ease;
}
.khan__buy-link:hover {
  opacity: 50%;
}
